.home-container {
  display: flex;

  .all-movies {
    width: 75%;
    min-height: calc(100vh - 80px);
    border-right: 1px solid #fdc827;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      h4 {
        text-transform: uppercase;
        font-weight: 600;
        border-left: 5px solid #ff9900;
        padding-left: 10px;
      }

      .view-all {
        color: #ff9900;
        cursor: pointer;
      }
    }

    .movies-thumbnail {
      display: flex;
      justify-content: space-between;

      .movie {
        .cover {
          img {
            border-radius: 5px;
          }
        }

        .detail {
          width: 180px;

          .name {
            font-weight: 600;
            height: 50px;
            margin-top: 5px;
            cursor: pointer;
          }

          .star {
            position: relative;
            display: inline-block;
            height: 30px;
            font-size: 30px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            color: #d3d3d3;
            margin-right: 3px;
          }
          .full {
            color: #ff0000;
          }
          .half {
            position: absolute;
            display: inline-block;
            overflow: hidden;
            color: #ff0000;
          }
        }
      }
    }
  }

  .popular-movies {
    width: 25%;
    min-height: calc(100vh - 80px);
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
  }
}
